build/
*.class
.classpath
.coverage
dist/
.DS_Store
*.egg-info/
.eggs/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea/
*.iml
*.jar
*.log
*.log.*
.mypy_cache/
node_modules/
npm-debug.log*
.npmrc
.pdm-python
.project
__pycache__/
*.py[cod]
results.json
.ruff_cache/
.settings/
sheriff.yaml
*.so
*.swp
target/
.tmp/
.tmpdoc
.venv/
.vscode/
yarn-debug.log*
yarn-error.log*



https://andriy-pc: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@github.com/andriy-pc/fastapi-crud.git